.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px;
}

img{
    margin: 0px;
    padding: 0px;
}

.search{
    display: flex;
    justify-content: flex-end;
    width: 15%;
}


.menu {
    display: flex;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    margin: 39px;
    padding: 10;
    font-size: 20px;
    text-align: center;
    color: #686868;
}

.menu li {
    margin-right: 150px;
}

.Home{
    margin-left: 400px;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
}

.signup-button {
    margin-right: 50px;
    background-color: #79E777;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 123px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
}

.signup-button:hover {
    background-color: #45a049;
}

body{
    background-color: #79E777;
    margin: auto;
}

div{
    margin: 0px;
}

div.image-container {
    margin: 2px;
}


h1{
    color: #41403c;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%; 
    letter-spacing: -4.5px;
    margin-left: 200px;
    margin-bottom: -110px;
}

h1.marketing{
    color: #fff;
    
}

p{
    margin-top: 0px;
    margin-left: 205px;
    margin-bottom: -5px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
}
.get-started{
    margin-left: 190px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    width: 211px;
    height: 66px;
    padding: 24px 57px 24px 40px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #000;
    background: #79E777;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.get-started:hover{
    background-color: #45a049;
}
.explore-more{
    margin-top: 10px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    width: 211px;
    height: 66px;
    padding: 24px 57px 24px 40px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #000;
}

.explore-more:hover{
    background-color: #3d3d3d;
}

.text-container{
    margin: 0;
    padding: 0;
    line-height: 1.5;

}


.imagen-movil{
    margin: 0%;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 31px;
}

img.group{
    margin-left: -2000px;

}

img.group2{
    margin-left: 820px;
}

img.group3{
    margin-left: 100px;
}

img.group4{
    margin-left: 100px;
}

img.group5{
    margin-right: 100px;
}

img.group6{
    margin-right: 10px;
}

img.group7{
    margin-left: 1900px;
    margin-top: -40px;
}

img.group1:hover{
    background-color: #69956814;
}

footer{
    margin: auto;
}

